@model SingupViewModel
@{
    ViewData["Title"] = "Singup";
}
@{
    Layout = "_Layout";
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
            <br />

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <div class="inner-addon right-addon">
                    <input asp-for="Password" class="form-control pwd">
                    <i toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-password"></i>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>


            <br />
            
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <div class="inner-addon right-addon">
                    <input asp-for="ConfirmPassword" class="form-control pwd">
                    <i toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-password"></i>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
             </div>
    
                <br />

                <input type="submit" value="Singup" class="btn btn-primary" />

</form>
    </div>
</div>
@*@section scripts
    {
    <script>
        $(document).on('click', '.toggle-password', function () {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $(this).parents(".inner-addon").find(".pwd");
            //var input = $(".pwd");
            input.attr('type') === 'password' ? input.attr('type', 'text') : input.attr('type', 'password')
        });

    </script>
}*@

