@model LoginViewModel

@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "SignIn";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="SignIn" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
            <br />

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <div class="inner-addon right-addon">
                    <input asp-for="Password" class="form-control pwd">
                    <i toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-password"></i>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />

            <label asp-for="VerificationCode" class="control-label"></label>
            <input asp-for="VerificationCode" class="form-control" />
            <span asp-validation-for="VerificationCode" class="text-danger"></span>
            <br />

            <input type="submit" value="SingIn" class="btn btn-primary" />

        </form>
    </div>
</div>